<div class="">
  <a type="button" class="ripple w-16" (click)="Openview('list')">List view</a>
  <a type="button" class="ripple ml-16" (click)="Openview('form')"
    >Create Event</a
  >
  <a type="button" class="ripple ml-16" (click)="Openview('user-detail')"
    >user report
  </a>
  <a type="button" class="ripple ml-16" (click)="Openview('enrollUsersList')"
    >Enrolled users list</a
  >
  <a type="button" class="ripple w-20 ml-16" (click)="Openview('calender')"
    >Calender</a
  >
  <hr />
</div>
<div class="search-box-container">
  <mat-form-field appearance="fill">
    <mat-label>Search Events</mat-label>
    <input
      matInput
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
      (keyup.enter)="onSearch()"
      placeholder="Search events"
    />
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" />
    <mat-datepicker-toggle
      matSuffix
      [for]="startDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="ml-16">
    <mat-label>End Date</mat-label>
    <input
      matInput
      [matDatepicker]="endDatePicker"
      [(ngModel)]="endDate"
      (dateChange)="onDateChange()"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="endDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</div>
<mat-form-field appearance="fill" class="ml-16">
  <mat-label>Event Type</mat-label>
  <mat-select
    [(value)]="eventType"
    (selectionChange)="onEventTypeChange($event.value)"
  >
    <mat-option value="Public">Public</mat-option>
    <mat-option value="Private">Private</mat-option>
  </mat-select>
</mat-form-field>
<div
  *ngIf="tab == 'list'"
  class="sbt-fluid-content-bg sbt-home-search-component"
>
  <div class="sb-g sbt-container sbt-page-content">
    <div
      class="sb-g-col-xs-12 sb-g-col-md-3 sb-g-col-lg-3 sb-g-col-xxxl-4"
      id="sbEventFilter"
    >
      <sb-event-filter
        (filterChangeEvent)="getFilteredData($event)"
        *ngIf="filterConfig"
        [filterLayout]="true"
        [isOpen]="true"
        [filterConfig]="filterConfig"
      >
      </sb-event-filter>
    </div>

    <div
      class="sb-g-col-xs-12 sb-g-col-md-9 sb-g-col-lg-9 sb-g-col-xxxl-12"
      id="sbEventCardView"
    >
      <div class="sbt-page-content-area">
        <div class="content-grid relative9">
          <div class="twelve wide column">
            <div
              *ngIf="eventList?.length > 0 && eventList != 'undefined'"
              [ngClass]="FILTER_LIST_LAYOUT"
            >
              <sb-event-list
                [list]="eventList"
                [myEvents]="myEvents"
                [eventListCount]="eventListCount"
                [myEventsCount]="myEventsCount"
                [layoutConfig]="true"
                (eventDetailData)="navToEventDetail($event)"
              >
              </sb-event-list>
            </div>
            <div [ngClass]="FILTER_LIST_LAYOUT" *ngIf="eventListCount === 0">
              <div class="no-content-container d-flex flex-jc-center relative9">
                <div class="my-48 p-16 w-100">
                  <div
                    class="d-flex flex-dc flex-jc-center flex-ai-center text-center"
                  >
                    <div>
                      <img
                        alt="{{ title }}"
                        src="./assets/images/group.svg"
                        width="90px"
                        height="90px"
                      />
                    </div>
                    <div
                      tabindex="0"
                      class="fmedium board-title pt-24 font-weight-bold"
                    >
                      No Events Found
                    </div>
                    <p class="fs-0-92 mt-8 text-center board-text"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  class=""
  style="position: relative; width: 100%; height: 300px"
>
  <div
    class="sb-loader"
    style="
      position: absolute;
      left: 0px;
      right: 0px;
      width: 40px;
      margin: 0 auto;
      height: 40px;
    "
  ></div>
</div>

<div *ngIf="tab == 'detail'">
  {{ eventItem?.lenght }}
  <sb-cover-event-detail
    *ngIf="eventItem?.lenght > 0"
    [eventDetailItem]="eventItem"
  >
  </sb-cover-event-detail>

  <sb-join-event-button
    *ngIf="eventItem?.lenght > 0"
    [eventDetailItem]="eventItem"
    [canUnenroll]="true"
  >
  </sb-join-event-button>

  <sb-advance-event-detail
    *ngIf="eventItem?.lenght > 0"
    [eventDetailItem]="eventItem"
  >
  </sb-advance-event-detail>
</div>

<div *ngIf="tab == 'form'">
  <sb-event-create
    *ngIf="!isDetail"
    [formFieldProperties]="formFieldProperties"
    (closeSaveForm)="cancel($event)"
    (navAfterSave)="navAfterSave($event)"
  >
  </sb-event-create>
</div>

<div *ngIf="tab == 'enrollUsersList'">
  <sb-enroll-event-users></sb-enroll-event-users>
  <!-- <sb-enroll-event-users [enrollEventDetails]="enrollUsers"></sb-enroll-event-users> -->
</div>
<div *ngIf="tab == 'calender'"><br /><br /><br /></div>
<div *ngIf="tab == 'user-detail'">
  <lib-user-detailed-attendance
    *ngIf="userEnrollEventDetails && eventItem"
    [userEnrollEventDetails]="userEnrollEventDetails"
    [paginateLimit]="paginateLimit"
    [redirection]="event"
    [showCard]="true"
    [eventDetailItem]="eventItem"
  >
  </lib-user-detailed-attendance>
</div>
